@media(max-width: 700px){
    body {
        background: url(../images/bg-mobile.svg) no-repeat var(--primary-violet);
        background-size: contain;
        max-width: 100%;
    }

    .logo {
        margin: 30px;
    }

    .conteudo-principal {
        display: flex;
        flex-direction: column;
    }

    .conteudo-principal .imagem-principal {
        padding-left: 35px;
    }

    .conteudo-principal .imagem-principal img {
        width: 90%;
    }

    .conteudo-principal .info {
        text-align: center;
        align-items: center;
    }

    .conteudo-principal .info h1 {
        font-size: 25px;
    }

    .conteudo-principal .botao {
        width: 230px;
    }

    .social ul {
        justify-content: center;
        align-items: center;
        padding-right: 5px;
        margin-top: 30px;
        margin-bottom: 40px;
    }
}
